.divTable {
	display: table;
	width: 100%;
}

.divRow {
	display: table-row;
	width: auto;
}

.divCell {
	float: left;
	display: table-column;
}

.plabel {
	width: 150px;
	text-align: right;
	padding: 5px;
	font-size: 1em;
}

.projectList {
	list-style-type: none;
}
.projectList li {
	margin: 10px;
	padding: 20px;
	border: 1px solid #0088CC;
	border-left-width: 5px;
	width: 1000px;
}
.projectList li:hover {
	border-left-color: #D58512;
}

.projectLeftBox {
	display: inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 650px;
}
.projectRightBox {
	display: inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 350px;
}

.projectName {
	font-size: 1.5em;
	padding: 20px;
}

.projectDesc {
	font-size: 1.2em;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}