#form-container {
    position: relative
}

#to-project-btn {
    position: fixed;
    top: 65px;
    left: 5%;
    cursor: pointer;
}

#to-project-btn:hover {
    color: #f44336
}

.body-wrapper {
    margin-bottom: 3rem;
}

.body-preloader-wrapper {
    height: 20rem;
}

#body-preloader{
    position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.small-btn {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
}

.small-btn > i {
    font-size: 1.1rem;
    position: absolute;
    line-height: 1.6rem;
    right: 0;
}

.selected-cell {
    background-color: #cfd8dc;
}

.form-wrapper-row {
    padding-top: 1rem;
    border-top: 1px solid #dcdcdc;
}