.enum-col-header {
    font-weight: 400;
    color: #9e9e9e;
}

#enum-add-btn {
    top: 4%;
    left: 2%;
}

#enum-delete-btn {
    top: 4%;
    left: 5%;
}

#enum-table .enum-cell {
    padding: 0 18px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    white-space: nowrap; 
    overflow: hidden;
    -o-text-overflow: clip;
    text-overflow: clip;
}

.enum-cell > .enum-table-input {
    margin: 0;
    border: 2px solid transparent;
}

.enum-cell > ::-webkit-input-placeholder { color: #a9a9a9; }
.enum-cell > :-ms-input-placeholder { color: #a9a9a9; }
.enum-cell > ::-moz-placeholder { color: #a9a9a9; opacity: 1; }

.enum-error-message {
    border-radius: 3px;
    background: #ffb74d;
    color: #2c2c2c;
    border-bottom: 2px solid #f44336;
}

.enum-error-message .tooltipster-content {
    font-size: 14px;
    line-height: 16px;
    padding: 6px 8px;
}