#header-bar-slide-wrapper{
	height: 4rem;

	-webkit-transition: height 0.4s cubic-bezier(0.68, 0, 0.265, 1), opacity 0.3s ease; /* Safari doesn't support <0 or >1 */
	-webkit-transition: height 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s ease;
	-moz-transition: height 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s ease;
	-o-transition: height 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s ease;
	transition: height 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s ease;
}

#header-bar-slide-wrapper.slide-up {
	height: 0;
	opacity: 0;
}

#header-bar-slide-wrapper.slide-down {
	height: 4rem;
	opacity: 1;
}

.header-row {
	margin: 0;
	height: 1.5rem;
}

#header-display-info {
   text-align: left;
   white-space: pre;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
}

#header-display-info .creator-info {
	float: left;
}
#header-display-info .total-bytes-info {
	float: right;
	padding-right: 1.25rem;
}

#header-bar-slide-btn{
	left: 50%;
	transform: translateX(-50%);
}

.header-segment {
	display: inline-block;
	height: 1.5rem;
	font-size: 0.9rem;
}

.segment-content {
	overflow: hidden;
	text-overflow: clip;
	display: inline-block;
	height: 1.5rem;
	color: #fff;
	font-weight: 300;
}

.header-bar-details {
	font-weight: 400;
	padding: 10px 8px;
}
.header-bar-details .tooltipster-content {
	font-size: 14px;
	line-height: 16px;
	white-space: pre-line;
	text-align: center;
}

.top-bar-details {
	background-color: #b0bec5;
	border-top: 2px solid #263238;
}
.second-bar-details {
	background-color: #eaeaea;
	border-bottom: 2px solid #424242;
}
.null-bits-details {
	background-color: #ff8a80;
	border-bottom: 2px solid #c62828;
}

