.header-segment {
	display: inline-block;
	height: 1.5rem;
	font-size: 0.9rem;
}

.segment-content {
	overflow: hidden;
	text-overflow: clip;
	display: inline-block;
	height: 1.5rem;
	color: #fff;
	font-weight: 300;
}

.header-bar-details {
	font-weight: 400;
	padding: 10px 8px;
}
.header-bar-details .tooltipster-content {
	font-size: 14px;
	line-height: 16px;
	white-space: pre-line;
	text-align: center;
}

.top-bar-details {
	background-color: #b0bec5;
	border-top: 2px solid #263238;
}
.second-bar-details {
	background-color: #eaeaea;
	border-bottom: 2px solid #424242;
}
.null-bits-details {
	background-color: #ff8a80;
	border-bottom: 2px solid #c62828;
}


#header-top-bar-row {
	margin: 0;
	height: 1.5rem;
}

#header-bar-row {
	margin: 0;
	margin-bottom: 1rem;
}

#header-bar-bytes-display {
	font-size: 1rem;
	white-space: nowrap;
	margin-top: 1rem;
}