/* ===[ Form ]=== */
#form-wrapper {
    position: relative;
}

select.form-select{
    display: none;
}

.select-dropdown > li > span {
    font-size: 1rem;
    color: #222222;
    padding: 0.8rem 0;
}

.select-dropdown > .active > span {
    background-color: #8c9eff;
    color: #f5f5f5;
}

.select-dropdown > .disabled > span {
    color: #9a9a9a;
}

.ref-radio-label {
    margin-right: 1rem;
}

.dropdown-content {
    max-height: 20rem;
    overflow: auto;
    z-index: 2;
}

#checkbox-field {
    padding-left: 3.23rem;
}

/* ===[ Events ]=== */
input[type='text'].event-display {
    border-width: 0;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-cell {
    margin-bottom: 1rem;
}

/* ===[Queries]=== */
#add-query-label {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #222222;
}

#query-add-btn {
    position: relative;
}

.query-delete-btn-wrapper {
    margin-top: 1rem;
}

.query-delete-btn {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.query-delete-btn > i {
    font-size: 1.3rem;
    position: absolute;
    top: -6px;
}

input[type='text'].query-id-field {
    border: 0;
}

textarea.query-description-field {
    padding: 0;
    padding-top: 11px;
}
