/* ===[ Header ]=== */
#header-wrapper {
    position: relative;
    margin-top: 1rem;
}

#header-title {
    border: 1px solid transparent;
    height: 3.5rem;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.2rem;
}

#header-title:focus {
    outline: none;
    border-bottom-color: #26a69a;
}

#header-description-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: 300;
    color: #9e9e9e;
    margin-bottom: 1rem;
}

#header-description {
    resize: none;
    border: 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#header-description:focus {
    outline: none;
    border-bottom-color: #26a69a;
}

#header-ID {
    border-bottom: 0;
    height: 1.5rem;
    margin-top: 0.75rem;
    font-size: 1.2rem;
}

#header-ID-label {
    font-size: 1rem;
    white-space: nowrap;
}

#clear-title-btn {
    top: 10%;
    visibility: hidden;
    right: 11%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#clear-title-btn > i {
    left: 0;
}

#header-creator-info {
    text-align: left;
    white-space: pre;
}