#add-query-label {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #222222;
}

#query-add-btn {
    position: relative;
}

.query-btns-wrapper {
    position: relative;
}

.query-delete-btn {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

input[type='text'].query-id-field {
    border: 0;
}

textarea.query-description-field {
    padding: 0;
    padding-top: 11px;
}

.query-row .business-request-container{
    margin-left: 1rem;
}

.query-row {
    margin-bottom: 2rem;
}