.card-preloader-wrapper{
	height: 20em;
}

.card-preloader{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.card-title{
	height: 2rem;
	font-size: 1.3rem;
	text-align: center;
}

.card-description{
	border: 0;
	resize: none;
	outline: none;
	font-weight: 300;
	color: Gray;
}

.card-face{
	padding: 10px 10px 0 10px;
	height: 10em;
	border-bottom: 2px solid white;
}

.card-description-wrapper{
	overflow-y: auto;
	overflow-x: hidden;
}

.card-wrapper{
	position: relative;
}

.card-title:focus{
	border-bottom: 1px solid #9e9e9e !important;
	box-shadow: 0 0 0 0 black !important;
	-webkit-box-shadow: 0 0 0 0 black !important;
	-moz-box-shadow: 0 0 0 0 black !important;
	-ms-box-shadow: 0 0 0 0 black !important;
}

.card-tag{
	position: absolute;
	top: 3px;
	left: 0px;
	color: white;
	font-size: 0.7em;
	width: 3em;
	text-align: center;
}

.card-tag-PD{
	background-color: #3f51b5;
}

.card-tag-EV{
	background-color: #ff9800;
}

.card-tag-EN{
	background-color: #f44336;
}

.card-tag-FL{
	background-color: #4caf50;
}