.card-preloader-wrapper{
	height: 20em;
}

.card-preloader{
	position: absolute;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.card-header{
	height: 1.5rem;
	text-align: center;
}

.card-back-header{
	height: 1.5rem;
	text-align: center;
}

.card-description{
	border: 0;
	resize: none;
	outline: none;
	font-weight: 300;
	color: #797979;
}

.card-face{
	padding: 10px 10px 0 10px;
	height: 10em;
	border-bottom: 2px solid transparent;
}

.card-description-wrapper{
	overflow-y: auto;
	overflow-x: hidden;
}

.card-wrapper{
	position: relative;
}

.card-tag{
	position: absolute;
	top: 3px;
	left: 0;
	color: white;
	font-size: 0.7rem;
	width: 2rem;
	text-align: center;
	font-weight: normal;
}

.project-object-name {
	width: 10rem;
	white-space: nowrap;      
	overflow: hidden; 
	text-overflow: ellipsis;
}

.project-object-tag {
	color: white;
	font-size: 0.7rem;
	width: 2rem;
	height: 1rem;
	text-align: center;
	font-weight: normal;
}

.card-back-search {
	font-weight: 300;
}

.project-object-btn {
	height: 1rem;
	font-size: 0.7rem;
	line-height: 1rem;
	border-radius: 0;
}

.card-back-btns-wrapper {
	margin-bottom: 1rem;
}

.card-tag-PD{
	background-color: #3f51b5;
}

.card-tag-EV{
	background-color: #ff9800;
}

.card-tag-SN{
	background-color: #7b1fa2;
}

.card-tag-EN{
	background-color: #f44336;
}

.card-tag-FL{
	background-color: #4caf50;
}