#logo {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 5px;
	left: 10px;
	width: 63px;
	height: 35px;
	background: url("../img/logo.svg");
	background-size: 63px 35px;
	background-repeat: no-repeat; 
}

#menu-nav {
	background: black;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
	-ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

#navbar-buttons{
	position: absolute;
	top: 0;
	right: 5px;
}

a.navbar-btn{
	top: -11px;
	width: 30px;
	height: 30px;
}

a.navbar-btn i{
	position: absolute;
	top: -18px;
	font-size: 1.4rem;
}