body {
	background: white;
}

.nav-dropdown-menu-item:hover {
	opacity: 0.8;
}

input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password, textarea.cke_dialog_ui_input_textarea{
	margin: auto;
	height: auto;
}

select {
	display: inline;
}

#my-profile-content a {
	color: black;
}

#profile-tag-wrapper input[type=text], 
#profile-tag-wrapper input[type=password], 
#profile-tag-wrapper input[type=email], 
#profile-tag-wrapper input[type=url], 
#profile-tag-wrapper input[type=date], 
#profile-tag-wrapper input[type=tel], 
#profile-tag-wrapper input[type=number], 
#profile-tag-wrapper input[type=search], 
#profile-tag-wrapper textarea.materialize-textarea {
	height: auto;
}

#profile-tag-wrapper a{
	color: black;
	margin-right: auto;
}

#search-glubers-search-tags input[type=text],
#search-glubers-search-tags input[type=password],
#search-glubers-search-tags input[type=email],
#search-glubers-search-tags input[type=url],
#search-glubers-search-tags input[type=date],
#search-glubers-search-tags input[type=tel],
#search-glubers-search-tags input[type=number],
#search-glubers-search-tags input[type=search],
#search-glubers-search-tags textarea.materialize-textarea {
    height: auto;
}

#search-glubers-search-tags a{
    color: black;
    margin-right: auto;
}

.material-tooltip {
	min-height: inherit;
	z-index: 100;
}

.row {
	margin-bottom: 0;
}