body {
	background: white;
}

.nav-dropdown-menu-item:hover {
	opacity: 0.8;
}

input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password, textarea.cke_dialog_ui_input_textarea{
	margin: auto;
	height: auto;
}

select {
	display: inline;
}

#my-profile-content a {
	color: black;
}

#profile-tag-wrapper input[type=text], 
#profile-tag-wrapper input[type=password], 
#profile-tag-wrapper input[type=email], 
#profile-tag-wrapper input[type=url], 
#profile-tag-wrapper input[type=date], 
#profile-tag-wrapper input[type=tel], 
#profile-tag-wrapper input[type=number], 
#profile-tag-wrapper input[type=search], 
#profile-tag-wrapper textarea.materialize-textarea {
	height: auto;
}

#profile-tag-wrapper a{
	color: black;
	margin-right: auto;
}

#search-glubers-search-tags input[type=text],
#search-glubers-search-tags input[type=password],
#search-glubers-search-tags input[type=email],
#search-glubers-search-tags input[type=url],
#search-glubers-search-tags input[type=date],
#search-glubers-search-tags input[type=tel],
#search-glubers-search-tags input[type=number],
#search-glubers-search-tags input[type=search],
#search-glubers-search-tags textarea.materialize-textarea {
    height: auto;
}

#search-glubers-search-tags a{
    color: black;
    margin-right: auto;
}

.material-tooltip {
	min-height: inherit;
	z-index: 100;
}

/* override bootscard styling */
.panel>.list-group:first-child .list-group-item:first-child, .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{
	padding-bottom: 0;
}

.list-group-item-heading:last-child, .list-group-item-text:last-child{
	font-size: 1.3rem;
}

.project-card .list-group-item {
	padding-bottom: 0;
	border : 0;
}

.panel-default {
	border: 0;
}

/* flip card CSS */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

.flip .flipper{
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;

	height: 20em;
}

/* front pane, placed above back */
.front {
	position: relative;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	width: 100%;
	transform: rotateY(180deg);
}